[submodule "DART"]
	path = DART
	url = https://github.com/zhangshixuan1987/DART.git
	branch = eam-strongly-coupled
[submodule "E3SM"]
	path = E3SM
	url = https://github.com/E3SM-Project/E3SM.git
	branch = maint-3.0
